@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Barlow+Condensed:wght@400;600;700;900&family=Barlow:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-condensed: "Barlow Condensed", sans-serif;
  --font-sans: "Barlow", sans-serif;
  
  --color-fire: #ff4500;
  --color-gold: #f5a623;
  --color-dark-bg: #050505;
  --color-dark-card: #111111;
  --color-dark-border: #1e1e1e;
  --color-accent2: #00c9ff;
}

body {
  background-color: var(--color-dark-bg);
  color: #f0ede8;
}
